{% extends 'base.html.twig' %}


{% block body %}
	<div class="row expanded video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/1-1uOoscaq4?
			listType=playlist&
			list=PLBk41oRsW7UuyLuvGzkavd_SOaih88lCH&
			version=3&
			loop=1&
			autoplay=1&
			rel=0&
			showinfo=0&
			controls=0&
			autohide=1
			"
				frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
		
		</iframe>
	</div>
	
	<a name="a-propos-festival-ebullison-besancon" id="a-propos-festival-ebullison-besancon"></a>
	<div class="row expanded index intro" id="a-propos">
		<h1><img src="{{ asset('images/accueil_inv.png') }}" alt="Accueil du festival Ebulli'Son - festival de la bière et du son à Besançon">Festival Ebulli'Son, c'est reparti !</h1>
		
		<h3>Toute l’équipe d’Ebulli’son est en effervescence pour vous surprendre les <span class="block rose"><span class="nb">17</span> et <span class="nb">18</span> MAI <span class="nb">2019</span> !</span></h3>
	</div>
	
	<a class="anchor" name="programmation-artistes-festival-ebullison-biere-son-besancon" id="programmation-artistes-festival-ebullison-biere-son-besancon"></a>
	<div class="row expanded index" id="programmation">
		<h2>
			<img src="{{ asset('images/programmation.png') }}" alt="Programmation, Ebulli'Son - festival de la bière et du son à Besançon">Programmation
		</h2>
		
		<div class="row expanded tac liste">
			<div class="small-12 medium-6 columns first-line">
				<h2 class="vendredi">Vendredi 17 mai</h2>
				
				<div class="row">
					<div class="small-12 columns">
						<div>Fatals Picards (22h00)</div>
					</div>
				</div>
				
				<div class="row">
					<div class="small-12 columns second-line">
						<div>Lidiop (19h45) <span>•</span></div>
						<div>The Yokel (20h30)</div>
					</div>
				</div>
				
				<div class="row">
					<div class="small-12 columns second-line-1">
						<div>Thé Vanille (23h30) <span>•</span></div>
						<div>The Rising Sun (19h00)</div>
					</div>
				</div>
				
				<div class="row">
					<div class="small-12 columns little-line">
						<div>Ad'line (21h30) <span>•</span></div>
						<div>Mowak (00h45)</div>
					</div>
				</div>
			</div>
			<div class="small-12 medium-6 columns first-line">
				<h2 class="samedi">Samedi 18 mai</h2>
				
				<div class="row">
					<div class="small-12 columns">
						<div>Vanupié (21h00)</div>
					</div>
				</div>
				
				<div class="row">
					<div class="small-12 columns second-line">
						<div>Fontiac (00h45)<span>•</span></div>
						<div>Two Tone Club (23h30)</div>
					</div>
				</div>
				
				<div class="row">
					<div class="small-12 columns little-line">
						<div>Rose Eme (20h00) <span>•</span></div>
						<div>Lobster (22h15) <span>•</span></div>
						<div>Gadjo Michto (19h00)</div>
					</div>
				</div>
				
				<div class="row">
					<div class="small-12 columns little-line">
						<div>FAB (12h00) <span>•</span></div>
						<div>V90 (18h00) <span>•</span></div>
						<div>Ambersand (23h45) <span>•</span></div>
						<div>Altes (20H45)</div>
					</div>
				</div>
				
				<div class="row">
					<div class="small-12 columns little-line">
						<div>DJ N2B (02h00) <span>•</span></div>
						<div>Star Coyote (13h30) <span>•</span></div>
					</div>
				</div>
				
				<div class="row">
					<div class="small-12 columns little-line">
						<div>Blacksheep (19h15) <span>•</span></div>
						<div>2097 (12h45)</div>
					</div>
				</div>
				
				<div class="row">
					<div class="small-12 columns little-line">
						<div>Lucky Bleeders (22h30)</div>
					</div>
				</div>
			</div>
		</div>
		
		<h3 class="sous-titre mt10">C'est bon ça !!</h3>
		<a class="tac" href="{{ asset('images/affiche-ebullison-2019.jpg') }}" download="">Téléchargez l'affiche de l'édition 2019 !</a>
	</div>
	
	<a class="anchor" name="bieres-festival" id="bieres-festival"></a>
	<div class="row expanded index" id="bieres">
		<h2>
			<img src="{{ asset('images/bieres_inv.png') }}" alt="Bières, Ebulli'Son - festival de la bière et du son">Bières
		</h2>
		
		<h3>Des brasseurs locaux<br> Une 20taine de bières différentes <br> Un brassin exclusif Ebulli'son</h3>
		<h3 class="mt10 sous-titre">C'est bon ça !!</h3>
		<p class="tac">L’abus d’alcool est dangereux pour la santé, à consommer avec modération. <br> Boire ou conduire, il faut choisir.</p>
	</div>
	
	<a class="anchor" name="billetterie-festival" id="billetterie-festival"></a>
	<div class="row expanded index" id="billetterie">
		<h2>
			<img src="{{ asset('images/billetterie.png') }}" alt="Billetterie, Ebulli'Son - festival de la bière et du son">Billetterie
		</h2>
		<h3 class="sous-titre">Fais-toi plaiz' !</h3>
		
		<iframe allowtransparency="true" src="https://www.helloasso.com/associations/fcmmgv/evenements/festival-ebulli-son-1/widget" style="width:100%;height:750px;border:none;"></iframe>
	</div>
	
	<a class="anchor" name="mecenat-festival-ebullison-biere-son-besancon" id="mecenat-festival-ebullison-biere-son-besancon"></a>
	<div class="row expanded index" id="mecenat">
		<h2>
			<img src="{{ asset('images/mecene_inv.png') }}" alt="Devenez mecene, Ebulli'Son - festival de la bière et du son">Devenez mécène à Ebulli'Son !</h2>
		
		<div class="row expanded">
			<table class="table-scroll scroll">
				<thead>
					<tr>
						<td colspan="11">Mécènat entreprise</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="6">Avantages</td>
						<td colspan="4">Diffusion de votre logo sur</td>
					</tr>
					<tr>
						<td>Don</td>
						<td>2 pass WE</td>
						<td>4 pass WE</td>
						<td>6 pass WE</td>
						<td>Dégustation de bière Ebulli'son</td>
						<td>Dégustation Jarret</td>
						<td>Accès Back stage</td>
						<td>Petite scène</td>
						<td>Grande scène</td>
						<td>Site web, <br>réseaux sociaux</td>
						<td>Affiche</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>de 100€ <br>à 149€</td>
						<td>x</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>x</td>
						<td></td>
						<td>x</td>
						<td></td>
					</tr>
					<tr>
						<td>de 150€ <br>à 299€</td>
						<td></td>
						<td>x</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>x</td>
						<td></td>
						<td>x</td>
						<td></td>
					</tr>
					<tr>
						<td>de 300€ <br>à 499€</td>
						<td></td>
						<td>x</td>
						<td></td>
						<td>x</td>
						<td></td>
						<td></td>
						<td>x</td>
						<td></td>
						<td>x</td>
						<td></td>
					</tr>
					<tr>
						<td>de 500€ <br>à 999€</td>
						<td></td>
						<td>x</td>
						<td></td>
						<td>x</td>
						<td>x</td>
						<td></td>
						<td></td>
						<td>x</td>
						<td>x</td>
						<td></td>
					</tr>
					<tr>
						<td>de 1000€ <br>à 1499€</td>
						<td></td>
						<td></td>
						<td>x</td>
						<td>x</td>
						<td>x</td>
						<td></td>
						<td></td>
						<td>x</td>
						<td>x</td>
						<td>x</td>
					</tr>
					<tr>
						<td>supérieur <br>à 1500€</td>
						<td></td>
						<td></td>
						<td>x</td>
						<td>x</td>
						<td>x</td>
						<td>x</td>
						<td></td>
						<td>x</td>
						<td>x</td>
						<td>x</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="row expanded mt10">
			<h3>Devenir Mécène d’Ebulli’son</h3>
			
			<div class="small-12 medium-10 medium-offset-1">
				<p class="tac">Qu’est-ce que le mécénat ? La loi du 1er août 2003 relative au mécénat permet à une entreprise de faire un don pour soutenir les actions d’un organisme culturel. L’entreprise donatrice, en plus de permettre à notre évènement d’être à la hauteur de nos ambitions, bénéficie alors de mesures fiscales avantageuses et peut obtenir certaines contreparties.</p>
			</div>
		</div>
		
		<div class="row expanded mt10">
			<h3>Différentes formes de mécénat existent</h3>
			
			<div class="small-12 medium-10 medium-offset-1">
				<p class="tac"><strong>don numéraire</strong> : don financier</p>
				<p class="tac"><strong>don en nature</strong> : apport de l’entreprise valorisé au prix de revient ou à la valeur nette comptable</p>
				<p class="tac"><strong>don en compétence</strong> : mise à disposition de main d’œuvre considérant l’ensemble des coûts salariaux </p>
			</div>
		</div>
		
		<div class="row expanded mt10">
			<h3>Les avantages</h3>
			
			<div class="small-12 medium-10 medium-offset-1">
				<p class="tac">L’entreprise donatrice bénéficie d’une réduction fiscale de 60 % de la valeur de son don, pris dans la limite de 0,5 % du chiffre d’affaires HT (article 238 bis du Code Général des Impôts). En plus des avantages fiscaux, le donateur a le droit à une contrepartie détaillée dans notre tableau ci-joint. Il bénéficiera d’un accueil particulier en toute immersion au cœur du festival.</p>
			</div>
		</div>
	</div>
	
	<a class="anchor" name="localisez-festival-ebullison-biere-son-besancon" id="localisez-festival-ebullison-biere-son-besancon"></a>
	<div class="row expanded index" id="localisation">
		<h2>
			<img src="{{ asset('images/localisation_inv.png') }}" alt="Localisez nous ! Ebulli'Son - festival de la bière et du son">Accès
		</h2>
		
		<div class="row expanded">
			<div class="small-12">
				
				<div style="width: 100%">
					<iframe width="100%" height="600" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.224667273382!2d6.0754552318268615!3d47.23604009016959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478d7cee38e713e5%3A0x16da3fe40e1164b3!2sRue+de+la+Comtesse+Henriette%2C+25660+Montfaucon!5e1!3m2!1sfr!2sfr!4v1540985557755" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
				</div>
			</div>
		</div>
		
		<div class="row expanded mt10">
			<div class="small-12 medium-12 tac">
				<p><strong>A pieds</strong> : entrée du festival par la rue de la Comtesse Henriette (côté école) à MONTFAUCON (25660)</p>
				<p><strong>En voiture</strong> : parking rue de la Falaise / rue des Grandes Terres (8 mn à pieds du site ou navettes)</p>
				<p><strong>En train / bus</strong> : plus d’infos sur les sites <a href="ginko.voyage.com" target="_blank" title="Ginko voyagage">ginko.voyage.com</a> et
					<a href="oui.sncf.com" target="_blank" title="oui SNCF">oui.sncf.com</a></p>
				<p><strong>A cheval</strong> : elle descend de la montagne</p>
			</div>
		</div>
	</div>
	
	<a class="anchor" name="infos-pratiques-festival-ebullison-biere-son-besancon" id="infos-pratiques-festival-ebullison-biere-son-besancon"></a>
	<div class="row expanded index" id="infos-pratiques">
		<h2>
			<img src="{{ asset('images/infos-pratiques_inv.png') }}" alt="Infos pratiques Ebulli'Son - festival de la bière et du son">Infos pratiques
		</h2>
		
		<div class="row expanded mt10">
			<div class="small-12 medium-4 columns block">
				<h3><img class="mr10" src="{{ asset('images/parking_inv.png') }}" alt="parking Ebulli'Son - festival de la bière et du son">Parking</h3>
				<p>Rue de la Falaise (pensez au frein à main) / Rue des Grandes Terres (8 mn à pieds du site ou navettes)</p>
			</div>
			<div class="small-12 medium-4 columns block">
				<h3><img class="mr10" src="{{ asset('images/vestiaire_inv.png') }}" alt="vestiaire Ebulli'Son - festival de la bière et du son">Vestiaire</h3>
				<p>Pour votre confort, à l’entrée, au tarif de 1 euro. Mais bon… on se met pas tout nu quand même, hein !</p>
			</div>
			<div class="small-12 medium-4 columns block">
				<h3><img class="mr10" src="{{ asset('images/restauration_inv.png') }}" alt="restauration Ebulli'Son - festival de la bière et du son">Restauration</h3>
				<p>Y en aura pour tous les goûts : planches apéro / traditionnel jarret-frites ou saucisses-frites / tartines de produits locaux (pain cuit sur place) / plats végétariens  / crêpes / bar à vins…</p>
			</div>
		</div>
		
		<div class="row expanded mt10">
			<div class="small-12 medium-4 medium-offset-2 columns block">
				<h3><img class="mr10" src="{{ asset('images/garderie_inv.png') }}" alt="garderie Ebulli'Son - festival de la bière et du son">Garderie</h3>
				<p>Y a pas d’âge pour s’amuser ! Service gratuit, dans la limite des places disponibles, pour les enfants à partir de 3 ans (propres), le vendredi de 18 h 30 à 23 h et le samedi de 16 h à 23 h, encadrement par des professionnels. En arrivant, merci de donner à un bénévole de la garderie vos nom, prénom et n° de téléphone où vous restez joignable, en précisant l’heure à laquelle vous récupérez votre enfant. Les enfants restent à l’intérieur de la garderie sous la responsabilité des encadrants, uniquement sur la durée convenue avec l’accompagnant.</p>
			</div>
			<div class="small-12 medium-4 columns end block">
				<h3><img class="mr10" src="{{ asset('images/bivouac_inv.png') }}" alt="garderie Ebulli'Son - festival de la bière et du son">Bivouac</h3>
				<p>Quoi ? T’es fatigué ? Bon ok… Pour la nuit du vendredi 17 au samedi 18 et/ou du samedi 18 au dimanche 19, une centaine d’emplacements libres gratuits dans un espace délimité accolé au site (sans inscription, dans la limite des places disponibles).</p>
			</div>
		</div>
	</div>
	
	<a class="anchor" name="benevoles-festival-ebullison-biere-son-besancon" id="benevoles-festival-ebullison-biere-son-besancon"></a>
	<div class="row expanded index" id="benevole">
		<h2>
			<img src="{{ asset('images/benevole_inv.png') }}" alt="Devenez bénévole, Ebulli'Son - festival de la bière et du son">Pour rejoindre l'équipe</h2>
		
		<div class="row expanded">
			<div class="small-12 tac">
				<p>Pour devenir bénévole, merci de remplir le formulaire suivant :</p>
				<a href="https://goo.gl/forms/domQk262CrtYjTSn2" target="_blank" title="Devenez bénévole à Ebulli'Son">Devenir
					bénévole</a>
			</div>
		</div>
	</div>
	
	<a class="anchor" name="contact-benevoles-festival-ebullison-biere-son-besancon" id="contact-benevoles-festival-ebullison-biere-son-besancon"></a>
	<div class="row expanded index" id="contact">
		<h2>
			<img src="{{ asset('images/contact_inv.png') }}" alt="Contactez nous, Ebulli'Son - festival de la bière et du son">Contact
		</h2>
		
		<div class="row expanded">
			<div class="small-12">
				<h4>Programmation artistique <br><span>06 61 84 21 13 (Vinz)</span> <br><span class="small-block">06 37 77 06 26 (Cyp)</span>
				</h4>
				<h4>Devenir bénévole <br><span>06 37 77 06 26 (Cyp)</span></h4>
				<h4>Devenir mécène <br><span>06 85 52 39 44 (Max)</span></h4>
			</div>
		</div>
	</div>
	
	<a class="anchor" name="medias-festival-ebullison-biere-son-besancon" id="medias-festival-ebullison-biere-son-besancon"></a>
	<div class="row expanded index" id="medias">
		<h2>
			<img src="{{ asset('images/media_inv.png') }}" alt="Médias Ebulli'son - festival de la bière et du son">On parle de nous
		</h2>
		
		<div class="row expanded">
			<div class="small-12">
				<h4><a target="_blank" href="https://fcmmgv.footeo.com/actualite/2018/03/31/belle-reussite-du-festival-ebulli-son-a-montfaucon-bravo-au-fcm.html">Retour Image sur l'édition 2018 (FCMMGV)</a></h4>
				<h4><a target="_blank" href="http://radiobip.fr/site/blog/2018/03/20/ebullison-le-festival-de-la-biere-et-du-son-de-montfaucon/">Radio Bip</a></h4>
				<h4><a target="_blank" href="https://pleinair.net/actualites-regionales/23-vie-locale/72651-grand-besancon-1ere-edition-du-festival-ebulli-son">PleinAir</a></h4>
				<h4><a target="_blank" href="http://hebdo25.fr/article-des-bulles-et-du-son-a-montfaucon,19634.htm">Hebdo 25</a></h4>
				<h4><a target="_blank" href="http://www.lecomtois.com/e303190,Ebulli_son_Festival-Agenda-Soirees___Animations-Montfaucon-Doubs-Franche-Comte.html">Le Comtois.com</a></h4>
				<h4><a target="_blank" href="https://www.francebleu.fr/emissions/ca-vaut-le-detour-l-invite/besancon/cyprien-roze-du-festival-ebuli-son-et-le-groupe-ambersand">France bleu (Audio)</a></h4>
				<h4><a target="_blank" href="https://www.mixcloud.com/RadioNightbox2/présentation-du-festival-ebullison-à-montfaucon-le-24-mars-2018/">Villages FM (Audio)</a></h4>
				<h4><a target="_blank" href="https://www.facebook.com/festivalebullison/videos/radiosud-besançon-festival-ebullison/285658948633045/">Radio Sud (Audio / Lien Facebook)</a></h4>
				<h4><a target="_blank" href="https://france3-regions.francetvinfo.fr/bourgogne-franche-comte/doubs/haut-doubs/ebulli-son-pop-cornes-festival-doubs-terre-sons-1637044.html">France 3 : Ebulli’son et Pop Cornes festival : le Doubs, une terre de sons</a></h4>
			</div>
		</div>
	</div>
{% endblock %}
