<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-42310839-3"></script>
		<script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-42310839-3');
		</script>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="description" content="Ébulli'son né d'une fête de la bière. Festival qui va vous faire pénétrer dans une bulle ou il n'y a que du vrai, du bon, en oubliant le superflu ! Ébulli'son Le festival de la bière et du son !">
		
		<title>{% block title %}Ebulli'Son - Festival de la bière et du Son à Besançon{% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/css/foundation-float.min.css" integrity="sha256-SXzNzz68b8cy/1oRvdP128/5VlvegrZO5QDmBiqhlQc= sha384-5EVTk1nWllg1T/XoVEd82fhnOxUhRUOquz4AyO3+M0kbhUzhruouReQWPnihRxPs sha512-y0IHToRgzE99SfoteKLXR0MUOTRPMQHwc4nmU2/Uqhu4KulOzK18RbuicuhlgzPDdj23skwxTWUv7CJs+psXig==" crossorigin="anonymous">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
			<link rel="stylesheet" href="{{ asset('build/css/vendor.css') }}">
			<link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
		{% endblock %}
	</head>
	<body>
		<header>
			<nav>
				<div class="row expanded">
					<div class="small-12 medium-2 columns">
						<a href="{{ path('index') }}" title="Accueil du festival Ebulli'son, festival de la bière et du son" class="accueil">
							<img src="{{ asset('images/logo.png') }}" alt="Festival Ebulli'Son, festival de la bière et du son à Besançon">
						</a>
					</div>
					<div class="small-12 medium-9 columns">
						<ul>
							<li><img src="{{ asset('images/accueil_inv.png') }}" alt="icone de l'accueil Ebulli'Son"><a href="#" title="Accueil du festival Ebulli'Son">Accueil</a></li>
							<li><img src="{{ asset('images/programmation.png') }}" alt="icone de la programmation Ebulli'Son"><a href="#programmation-artistes-festival-ebullison-biere-son-besancon" title="Programmation du festival Ebulli'Son">Programmation</a></li>
							<li><img src="{{ asset('images/billetterie.png') }}" alt="icone de la billetterie Ebulli'Son, festival de la bière et du son à Besançon"><a href="#billetterie-festival" title="Billetterie du festival Ebulli'Son">Billetterie</a></li>
							<li><img src="{{ asset('images/contact_inv.png') }}" alt="icone de contact du festival de la bière et du son"><a href="#contact-benevoles-festival-ebullison-biere-son-besancon" title="Contactez le festival de la bière et du son">Contact</a></li>
							<li><img src="{{ asset('images/localisation_inv.png') }}" alt="icone de la localisation du festival ebullison"><a href="#localisez-festival-ebullison-biere-son-besancon" title="Localisation du fetsival Ebulli'Son">Localisation</a></li>
						</ul>
					</div>
					<div class="small-12 medium-1 columns icones">
						<div>
							<a href="https://www.facebook.com/festivalebullison/" title="Page facebook du festival Ebullison" target="_blank">
								<i class="fab fa-facebook fa-"></i>
							</a>
						</div>
					</div>
				</div>
			</nav>
		</header>
		
		{% block body %}{% endblock %}
		
		
		{% block javascripts %}
			<script src="{{ asset('build/js/vendor.js') }}"></script>
		{% endblock %}
	</body>
</html>
